nav > .nav-button{
    background-color: white;
    font-size: 15px;
    text-decoration: none;
}


nav > .nav-button:active{
    background-color: blue;
    font-size: 20px;
    text-decoration: underline;
}

.random-img{
    width: 270px;
    height: 170px;
    margin: 10px;
    opacity: 1.0;
}

.random-img:hover {
    opacity: 0.5;
}

.images-container{
    position: absolute;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}
.accordionItem{
    margin-top: 5px;
    border: solid 1px black;
    width: 50%;
    cursor: pointer;
    border-radius: 20px;
    background: lightblue;
    justify-content: center;
    text-align: center;
}

.accordion{
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
}