
nav > .nav-button{
    background-color: white;
    font-size: 15px;
    text-decoration: none;
}


nav > .nav-button:active{
    background-color: blue;
    font-size: 20px;
    text-decoration: underline;
}


.projects-title {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.description {
    font-weight: bolder;
}

.github-projects {
    display: grid;
    flex-direction: column;
    float: left;
    margin-top: 10%;
    margin-left: 20%;
}

.web-skills {
    float: right;
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    margin-right: 20%;

}

.skills{
    margin-right: 10%;
    font-weight: bolder;
}

.weaknesses {
    font-weight: bolder;
}

.random-img{
    width: 270px;
    height: 170px;
    margin: 10px;
    opacity: 1.0;
}

.random-img:hover {
    opacity: 0.5;
}

.images-container{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
@media (min-width: 480px) {
    .nav-bottom {
        display: none;
    }
}

@media (max-width: 480px)  {
    .nav-bottom {
        display: flex;
        grid-gap: 20px;
        justify-content: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px 0;
        background: blue;
        color:whitesmoke;
        font-family: sans-serif;
    }
    .nav-item {
        text-align: center;
        display: table;
    }

    .nav-item> a {
        color: whitesmoke;
        text-decoration: none;
    }

}