nav > .nav-button{
    background-color: white;
    font-size: 15px;
    text-decoration: none;
}


nav > .nav-button:active{
    background-color: blue;
    font-size: 20px;
    text-decoration: underline;
}



.images-container{
    margin: auto;
    width: 50%;
    border: 5px solid black;
    overflow: hidden;
    position: relative;
}

.images-slider {
    display: flex;
    width: 100%;
    height: 500px;
}

#prevBtn {
    position: absolute;
    top: 50%;
    left: 5%;
    color: white;
    z-index: 10;
    font-size: 40px;
}

#nextBtn {
    position: absolute;
    top: 50%;
    right: 5%;
    color: white;
    z-index: 10;
    font-size: 40px;
=======
.random-img{
    width: 270px;
    height: 170px;
    margin: 10px;
    opacity: 1.0;
}

.random-img:hover {
    opacity: 0.5;
}

.images-container{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);


}
